@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes hideCard {
  0%, 70% {
    transform: rotateX(0deg);
    /* background-color: white; */
  }
  100% {
    transform: rotateX(180deg);
  }
}

@keyframes hideImage {
  0%, 84% {
    opacity: 1;
  }
  85% {
    opacity: 0;
  }
}

/* Define classes for animations */
.flip-card {
  opacity: 0;
  /* animation: hideCard 1s forwards; */
}

.hide-image {
  opacity: 0;
  /* animation: hideImage 1s forwards; */
}

.modal-style{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400;
  background-color: rgb(255, 246, 235);
  border: 2px solid #000;
  box-shadow: 24;
  padding: 4;
}